/* Mixins */
/* Common */
html {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  height: 100%;
}
html body {
  flex: 1 1 100%;
}

.alert ul {
  margin-bottom: 0;
}

.system-messages {
  margin-top: auto;
}
.system-messages .alert {
  margin: 0 !important;
}

#page_edit-context .dropdown-item.open_page:hover {
  background-color: rgb(178, 235, 242);
}
#page_edit-context .dropdown-item.edit:hover {
  background-color: #ff6f00;
}
#page_edit-context .dropdown-item.remove:hover {
  background-color: #f00;
}

.logo {
  position: relative;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.logo:before {
  content: "";
  background-image: url(/images/redirex-store.png);
  width: 50px;
  height: 50px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo > span {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 10px;
  text-align: left;
}

.logo > span > span {
  display: block;
}

.logo > span > span:last-child {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.logo > span > span:last-child:before {
  content: "";
  width: 34px;
  height: 1px;
  background-color: #fff;
  margin-right: 10px;
}

/* General container */
.general_container {
  display: flex;
  display: -webkit-flex;
  height: 100%;
}

/* Sidebar */
.sidebar {
  flex: 0 1 20%;
  padding: 20px 0;
  background-color: #0c0c0c;
  border-right: 1px solid #151515;
}
.sidebar .login_cart {
  background-color: #1a1a1a;
  margin: 10px;
  padding: 10px;
  color: #fff;
  font-size: 12px;
}
.sidebar .login_cart span:first-child {
  font-weight: 600;
}
.sidebar .login_cart a {
  color: #fff;
}
.sidebar ul {
  padding: 0;
  list-style: none;
}
.sidebar ul li a {
  display: block;
  color: white;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.0588235294);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  margin-bottom: 5px;
}
.sidebar ul li a:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.0784313725);
}

.content_wrap, .login_wrap {
  flex: 0 1 80%;
}
.content_wrap .header, .login_wrap .header {
  background-color: #0c0c0c;
  padding: 50px 40px 150px 40px;
}
.content_wrap .header h1, .login_wrap .header h1 {
  margin: 0;
  text-align: center;
  font-size: 21px;
  color: white;
}
.content_wrap .content, .login_wrap .content {
  padding: 0 30px;
  margin-top: -100px;
  margin-bottom: 100px;
}
.content_wrap .content .inner, .login_wrap .content .inner {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  min-height: 400px;
  background-color: white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3215686275);
}

.login_wrap {
  flex: 0 1 100%;
}
.login_wrap .content .inner {
  min-height: unset;
}
.login_wrap .system-messages {
  margin-top: 30px;
}

/* Action bar styles */
.action_bar {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1607843137);
}
.action_bar .title {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
.action_bar .buttons .add_page {
  line-height: 1;
  padding: 6px;
}

/* DarkSide -> Login Page */
.auth_form {
  max-width: 410px;
  width: 100%;
  margin: 0 auto;
}

/* DarkSide -> Pages Archive */
.pages_archive .pages_list .header {
  padding: 10px;
}
.pages_archive .pages_list .header ul {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pages_archive .pages_list .header ul li {
  color: #fff;
}
.pages_archive .pages_list .header ul li:nth-child(1) {
  flex: 1 1 2%;
}
.pages_archive .pages_list .header ul li:nth-child(2) {
  flex: 1 1 26%;
}
.pages_archive .pages_list .header ul li:nth-child(3) {
  flex: 1 1 10%;
}
.pages_archive .pages_list .header ul li:nth-child(4) {
  flex: 1 1 10%;
}
.pages_archive .pages_list .header ul li:nth-child(5) {
  flex: 1 1 10%;
}
.pages_archive .pages_list .header ul li:nth-child(6) {
  flex: 1 1 10%;
}
.pages_archive .pages_list .header ul li:nth-child(7) {
  flex: 1 1 16%;
}
.pages_archive .pages_list .header ul li:nth-child(8) {
  flex: 1 1 16%;
}
.pages_archive .pages_list .body > *:nth-child(even) {
  background-color: #f3f2f2;
}
.pages_archive .pages_list .body .item {
  padding: 10px;
}
.pages_archive .pages_list .body .item ul {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pages_archive .pages_list .body .item ul li:first-child {
  display: none;
}
.pages_archive .pages_list .body .item ul li {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.pages_archive .pages_list .body .item ul li:nth-child(2) {
  flex: 1 1 2%;
}
.pages_archive .pages_list .body .item ul li:nth-child(3) {
  flex: 1 1 26%;
}
.pages_archive .pages_list .body .item ul li:nth-child(4) {
  flex: 1 1 10%;
}
.pages_archive .pages_list .body .item ul li:nth-child(5) {
  flex: 1 1 10%;
}
.pages_archive .pages_list .body .item ul li:nth-child(6) {
  flex: 1 1 10%;
}
.pages_archive .pages_list .body .item ul li:nth-child(7) {
  flex: 1 1 10%;
}
.pages_archive .pages_list .body .item ul li:nth-child(8) {
  flex: 1 1 16%;
}
.pages_archive .pages_list .body .item ul li:nth-child(9) {
  flex: 1 1 16%;
}
.pages_archive .pages_list .body .subitem {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}
.pages_archive .pages_list .body .subitem > *:first-child {
  flex: 1 1 20px;
}
.pages_archive .pages_list .body .subitem > *:last-child {
  flex: 1 1 calc(100% - 20px);
}
.pages_archive .pages_list .body .subitem .item {
  padding: 0;
}

/* DarkSide -> Edit */
.title-form_wrap {
  position: relative;
}
.title-form_wrap .url_popover {
  position: absolute;
  bottom: 0;
  right: 0;
}
.title-form_wrap .url_popover input {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.title-form_wrap input {
  height: 42px;
  line-height: 40px;
}

/* DarkSide -> Search Pages for Relative */
.search_page_box {
  flex: 1;
}
.search_page_box * {
  width: 100%;
}
.search_page_box .nice-select {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.search_page_box .nice-select-search-box .spinner-grow {
  position: absolute;
  display: none;
  width: 14px;
  height: 14px;
  right: 30px;
  top: calc(50% - 6px);
  vertical-align: 0;
  text-indent: -9999px;
  margin: 0;
  line-height: 0;
}

/* Imports */
.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: auto;
}
.nice-select:hover {
  border-color: #dbdbdb;
}
.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: #999;
}
.nice-select:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: "";
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  transform-origin: 66% 66%;
  transform: rotate(45deg);
  transition: all 0.15s ease-in-out;
  width: 5px;
}
.nice-select.open:after {
  transform: rotate(-135deg);
}
.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}
.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}
.nice-select.disabled:after {
  border-color: #cccccc;
}
.nice-select.wide {
  width: 100%;
}
.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}
.nice-select.right {
  float: right;
}
.nice-select.right .list {
  left: auto;
  right: 0;
}
.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}
.nice-select.small:after {
  height: 4px;
  width: 4px;
}
.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}
.nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: 50% 0;
  transform: scale(0.75) translateY(-21px);
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}
.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}
.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  transition: all 0.2s;
}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}
.nice-select .option.selected {
  font-weight: bold;
}
.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}
.no-csspointerevents .nice-select.open .list {
  display: block;
}

.nice-select {
  width: 100%;
  border-radius: 8px;
}
.nice-select .list {
  margin-top: 5px;
  top: 100%;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  max-height: 210px;
  overflow-y: scroll;
  padding: 52px 0 0;
}
.nice-select .list::-webkit-scrollbar {
  width: 0;
}
.nice-select .nice-select-search-box {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  margin-top: 5px;
  top: 100%;
  left: 0;
  z-index: 8;
  padding: 5px;
  background: #FFF;
  opacity: 0;
  pointer-events: none;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 0 1px rgba(68, 88, 112, 0.11);
  transform-origin: 50% 0;
  transform: scale(0.75) translateY(-21px);
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
}
.nice-select .nice-select-search {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: none;
  color: #333;
  display: inline-block;
  vertical-align: middle;
  padding: 7px 12px;
  margin: 0 10px 0 0;
  width: 100% !important;
  min-height: 36px;
  line-height: 22px;
  height: auto;
  outline: 0 !important;
}

.nice-select.open .list {
  width: 100%;
  border-radius: 8px;
}
.nice-select.open .nice-select-search-box {
  opacity: 1;
  z-index: 10;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}

.nice-select.has-multiple {
  white-space: inherit;
  height: auto;
  padding: 7px 12px;
  min-height: 53px;
  line-height: 22px;
}
.nice-select.has-multiple span.current {
  border: 1px solid #CCC;
  background: #EEE;
  padding: 0 10px;
  border-radius: 3px;
  display: inline-block;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 3px;
  margin-right: 3px;
}
.nice-select.has-multiple .multiple-options {
  display: block;
  line-height: 37px;
  margin-left: 30px;
  padding: 0;
}

.remove:hover {
  color: red;
}
