/* Mixins */
@mixin display-flex() {
    display: flex;
    display: -webkit-flex;
}
@mixin border-radius($pixel...) {
    border-radius: $pixel;
    -webkit-border-radius: $pixel;
    -moz-border-radius: $pixel;
    -ms-border-radius: $pixel;
    -o-border-radius: $pixel;
}

/* Common */
html{
    @include display-flex();
    flex-wrap: wrap;
    height: 100%;

    body{
        flex: 1 1 100%;
    }
}
.alert ul{
    margin-bottom: 0;
}
.system-messages{
    margin-top: auto;

    .alert{
        margin: 0!important
    }
}
#page_edit-context{
    .dropdown-item.open_page:hover{
        background-color: rgb(178, 235, 242)
    }
    .dropdown-item.edit:hover{
        background-color: #ff6f00
    }
    .dropdown-item.remove:hover{
        background-color: #f00
    }
}

.logo{
    position: relative;
    @include display-flex();
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.logo:before{
    content: '';
    background-image: url(/images/redirex-store.png);
    width: 50px;
    height: 50px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}
.logo > span{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 10px;
    text-align: left;
}
.logo > span > span{
    display: block;
}
.logo > span > span:last-child{
    @include display-flex();
    align-items: center;
}
.logo > span > span:last-child:before{
    content: '';
    width: 34px;
    height: 1px;
    background-color: #fff;
    margin-right: 10px;
}

/* General container */
.general_container{
    @include display-flex();
    height: 100%;
}

/* Sidebar */
.sidebar{
    flex: 0 1 20%;
    padding: 20px 0;
    background-color: #0c0c0c;
    border-right: 1px solid #151515;

    .login_cart{
        background-color: #1a1a1a;
        margin: 10px;
        padding: 10px;
        color: #fff;
        font-size: 12px
    }
    .login_cart span:first-child{
        font-weight: 600;
    }
    .login_cart a{
        color: #fff;
    }

    ul{
        padding: 0;
        list-style: none;

        li a{
            display: block;
            color: white;
            text-align: left;
            background-color: #ffffff0f;
            @include border-radius(0);
            margin-bottom: 5px;
        }
        li a:hover{
            color: white;
            background-color: #ffffff14;
        }
    }
}



.content_wrap, .login_wrap{
    flex: 0 1 80%;

    .header{
        background-color: #0c0c0c;
        padding: 50px 40px 150px 40px;

        h1{
            margin: 0;
            text-align: center;
            font-size: 21px;
            color: white;
        }
    }
    .content{
        padding: 0 30px;
        margin-top: -100px;
        margin-bottom: 100px;

        .inner{
            @include display-flex();
            flex-direction: column;
            min-height: 400px;
            background-color: white;
            @include border-radius(3px);
            padding: 30px;
            box-shadow: 0px 0px 20px 0px #00000052;
        }
    }
}
.login_wrap{
    flex: 0 1 100%;

    .content{
        .inner{
            min-height: unset
        }
    }
    .system-messages{
        margin-top: 30px;
    }
}

 

/* Action bar styles */
.action_bar{
    @include display-flex();
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #00000029;

    .title{
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }
    .buttons .add_page{
        line-height: 1;
        padding: 6px;
    }
}

/* DarkSide -> Login Page */
.auth_form{
    max-width: 410px;
    width: 100%;
    margin: 0 auto
}

/* DarkSide -> Pages Archive */
.pages_archive{
    table{
        tr{
            cursor:pointer;
            td:first-child{
                display: none
            }
        }
    }
}

/* DarkSide -> Edit */
.title-form_wrap{
    position: relative;

    .url_popover{
        position: absolute;
        bottom: 0;
        right: 0;

        input{
            @include border-radius(0);
        }
    }

    input{
        height: 42px;
        line-height: 40px;
    }
}

/* DarkSide -> Search Pages for Relative */
.search_page_box{
    flex: 1;

    *{
        width: 100%;
    }
    .nice-select{
        @include border-radius(0);
    }
    .nice-select-search-box .spinner-grow{
        position: absolute;
        display: none;
        width: 14px;
        height: 14px;
        right: 30px;
        top: calc(50% - 6px);
        vertical-align: 0;
        text-indent: -9999px;
        margin: 0;
        line-height: 0;
    }
}

/* Imports */
@import "nice-select";
@import "nice-select-search";